<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="styles.css" />
	<title>Name the sprint</title>
</head>
<body>


  	<div id="app" class="content">

		<div v-if="!sprintName" class="button-wrapper">
			<button class="button" @click="getRandomSprintName()">
				Name the sprint
				<div class="svg-icon-wrapper">
					<svg v-if="!loading" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
						<path d="M1.5 6.5h15m-5-5l5 5-5 5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
					</svg>
					<svg v-else viewBox="0 0 51 51" xmlns="http://www.w3.org/2000/svg" class="svg-icon--loading">
						<path d="M25.5 51a25.54 25.54 0 01-16.185-5.794 2.39 2.39 0 013.036-3.694A20.75 20.75 0 0025.5 46.22c11.424 0 20.719-9.294 20.719-20.719 0-11.424-9.295-20.719-20.719-20.719-11.424 0-20.719 9.295-20.719 20.719 0 2.953.608 5.805 1.807 8.475a2.39 2.39 0 11-4.362 1.958A25.309 25.309 0 010 25.5C0 11.44 11.44 0 25.5 0S51 11.44 51 25.5 39.56 51 25.5 51z"></path>
					</svg>
				</div>
			</button>
		</div>


		<div v-else class="sprint-stage">
			<div class="wrapper">
				<div v-cloak id="sprint-name" class="sprint-name">{{ sprintName }}</div>
			</div>
		</div>
  	</div>

  <script type="text/javascript" src="https://unpkg.com/vue"></script>
  <script type="text/javascript" src="index.js"></script>

</body>
</html>



