html, body {
    width: 100%;
    margin: 0 auto;
}

[v-cloak] {display: none}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sprint-stage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('assets/images/stage.jpg');
    /* background-size: cover; */
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.sprint-name {
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-size: 48px;
    min-height: 100px;
    text-align: center;
}

.button-wrapper {
    width: 100%;
    text-align: center;
}

.button {
    display:inline-block;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    text-align:center;
    position:relative;
    width: 320px;
    height: 80px;

    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.svg-icon-wrapper {
    width: 20px;
    height: 20px;
    margin-left: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.svg-icon {
    position: absolute;
    top: 50%;
    left: 1px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 13px;
    width: 18px;
    color: white;
    fill: white;
    stroke: white;
}

.svg-icon--loading {
    color: white;
    fill: white;
    stroke: white;
    position: absolute;
    top: 50%;
    left: 0px;
    width: 20px;
    height: 20px;
    -webkit-animation-name: spin-data;
    animation-name: spin-data;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes spin-data {
    0% { -webkit-transform:translateY(-50%) rotate(0deg); transform:translateY(-50%) rotate(0deg) } 
    to { -webkit-transform:translateY(-50%) rotate(1turn); transform:translateY(-50%) rotate(1turn) }
}
